.outlet__search {
  width: 100%;
  padding: 2rem;
  transition: var(--trans);
  display: flex;
  flex-direction: column;

  &.sticky {
    padding: 0;

    .search__header {
      width: 100%;
      border-radius: 0;
      height: 5rem;
      padding: 1rem;
      position: sticky;
      top: 0;
    }

    .found__body {
      padding: 0 2rem;
    }
  }

  .search__header {
    transition: var(--trans);
    background: var(--dark);
    border-radius: 10px;
    height: 4rem;

    .input__container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      input {
        flex: 1;
        transition: var(--trans);
        background: transparent;
        border: none;
        color: var(--dark__msm);
        font-size: 1rem;
        outline: none;
      }

      svg {
        margin-left: 2rem;
        color: var(--dark__msm);
      }
    }
  }
}
