.dashboard__sidebar {
  height: 100vh;
  background: var(--dark);
  max-width: 20rem;
  width: 100%;
  min-width: 20rem;
  transition: var(--trans);
  position: fixed;
  top: 0;
  left: 0;
  margin-right: 1rem;
  color: var(--dark__msm);
  padding: 2rem 1rem;

  .sidebar__header {
    img {
      width: 60%;
    }
  }

  .dashboard__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 2rem;

    li {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: capitalize;

        svg {
          margin-right: 1rem;
        }

        &.active {
          color: var(--dark__blue);
        }
      }

      span {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: var(--dark__blue);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}
